/* ====================================================================================================================
 * BASE SCSS
 * ====================================================================================================================*/


//variables
$grey :#454545;

$mq-breakpoints: (
    mobileMedium:375px,
    tablet:  768px,
    desktop: 1024px,
    desktopLarge: 1680px,
    wide:1900px,
    extraWide:2300px,

) !default;

//Show breakpoints 
// $mq-show-breakpoints: (
//     mobileMedium, 
//     tablet, 
//     desktop, 
//     desktopLarge,  
//     wide, 
//     extraWide
// );



//base styles
html, body {
  margin:0;
  padding:0px;
  background-color:black;
  font-family:'forma-djr-banner', sans-serif;
  font-style: normal;
  color: white;
}

a {
  color: white;
}
.site-content {
	background-color: black;
	margin-top: calc(100vh - 30px);
	position: sticky;
	top:0;
}

@media screen and (min-width: 1280px) {

.site-content {
	margin-top: 100vh;
}

}