/* ====================================================================================================================
 * BASE SCSS
 * ====================================================================================================================*/


//variables
$grey :#454545;

//base styles
html, body {
  margin:0;
  padding:0px;
  background-color:black;
  font-family:'forma-djr-banner', sans-serif;
  font-style: normal;
  color: white;
  cursor: none;
}
