/* ====================================================================================================================
 * BASE SCSS
 * ====================================================================================================================*/

html, body {
  margin:0;
  padding:0px;
  background-color:black;
  font-family:'forma-djr-banner', serif;
  color: white;
  cursor: none;
}
