/* ====================================================================================================================
 * CURSOR SCSS
 * ====================================================================================================================*/

.cursor {
	width:40px;
	height:40px;
	background-color: white;
	border-radius: 100%;
	mix-blend-mode: difference;
	position:fixed;
	z-index: 3;
	transition:all 0.2s ease-out;
	pointer-events: none;
}