.header {
	display:flex;
	position: sticky;
	top:30px;
	right:0;
	width:100%;
	background:black;
	border-bottom: 1px solid $grey;
	z-index: 2;
	padding:10px 16px;
	justify-content: space-between;
	font-weight: 300;
	font-style: normal;
	font-size: 12px;
	&__clock {font-weight: 400;}
}


// tablet
//////////////////////////////////////////////////////////////////////////////////

@include mq($from: tablet) {

.header {
	margin-top: 100vh;
	top:-1px;
	border-top: 1px solid $grey;
	&__time {
		margin-left: -5vw;
	}
}

}

// desktop
//////////////////////////////////////////////////////////////////////////////////

@include mq($from: desktop) {

.header {
	font-size: 14px;
}

}

// desktop large
//////////////////////////////////////////////////////////////////////////////////

@include mq($from: desktopLarge) {

.header {
	justify-content: flex-start;
	padding:20px;
	&__works {
		width:39%;
	}
	&__time {
		width:70%;
		margin-left: .8vw;
	}
	&__about {
		margin-left:auto;
		margin-right: 2px;
	}

}

}

// extra wide
//////////////////////////////////////////////////////////////////////////////////

@include mq($from: extraWide) {

.header{
	&__time {
    	margin-left: -2.5vw;
	}
}


}