.header {
	display:flex;
	position: sticky;
	top:30px;
	right:0;
	width:100%;
	background:black;
	border-bottom: 1px solid $grey;
	z-index: 2;
	padding:10px;
	justify-content: space-between;
	font-weight: 300;
	font-style: normal;
	font-size: 14px;
}

@media screen and (min-width: 1280px) {

.header {
	justify-content: flex-start;
	top:-1px;
	padding:20px;
	border-top: 1px solid $grey;
	margin-top: 100vh;
	&__works {
		width:39%;
	}
	&__time {
		width:70%;
	}
	&__about {
		margin-left:auto;
		margin-right: 2px;
	}

}

}