
// mobile large
//////////////////////////////////////////////////////////////////////////////////

@include mq($from: mobileMedium) {

.logo {
	width:256px;
	margin-top: 60px;
}

}

// desktop large
//////////////////////////////////////////////////////////////////////////////////

@include mq($from: desktopLarge) {

.logo {
  width:100%;
  //margin-bottom: 50px;
}

}