.sidebar{display: none;}


@media screen and (min-width: 480px) {

.sidebar {
  padding:30px;
  width: 100%;
  background: black;
  height: 123px;
  box-sizing: border-box;
  border-right: 1px solid $grey;
  &__description {display:none;}
  &__links {display:none;}
  &__links a:hover {font-style: italic; font-weight: bold;}
}



}


@media screen and (min-width: 1280px) {

.sidebar {
  display:block;
  width: 18%;
  height: 100vh;
  position:fixed;
  top:0px;
  left:0px;
  padding:20px;
  &__description {
    display: block;
    margin-top:40px;
  }
  &__links {
    margin-top:40px;
    display:flex;
    flex-direction:column;
  }
}
  



}