.sidebar{display: none;}


// @media screen and (min-width: 480px) {

// .sidebar {
//   padding:30px;
//   width: 100%;
//   background: black;
//   height: 123px;
//   box-sizing: border-box;
//   border-right: 1px solid $grey;
//   &__description {display:none;}
//   &__links {display:none;}
//   &__links a:hover {font-style: italic; font-weight: bold;}
// }



//}


// desktop large
//////////////////////////////////////////////////////////////////////////////////

@include mq($from: desktopLarge) {

.sidebar {
  display:flex;
  flex-direction: column;
  width: 18%;
  height: 100vh;
  position:sticky;
  top:0px;
  left:0px;
  padding:20px;
  border-right: 1px solid $grey;
  background: black;
  margin-top: -62px;
  &__description {
    display: block;
    margin-top:40px;
  }
  &__links {
    margin-top:40px;
    display:flex;
    flex-direction:column;
  }
  &__links a:hover {font-style: italic; font-weight: bold;}
}
  



}

// extraWide
//////////////////////////////////////////////////////////////////////////////////

@include mq($from: extraWide) {

.sidebar {
  width:16%;
  &__description {
    br{display: none;}
  }
}
 
}

